<h1>New Bill</h1>

<%= link_to "Home Page", bills_path %>

<% @bill.errors.full_messages.each do |error| %>
  <%= error %>
<% end %>

<%= form_for @bill do |f| %>

  <%= f.label :type %>
  <%= f.text_field :type, class: 'form-control' %>

  <%= f.label :amount %>
  <%= f.number_field :amount, class: 'form-control' %>

  <%= f.hidden_field :user_id,  class: 'form-control' %>

  <%= f.submit class: "btn btn-primary"%>

  <% end %>
